:root {
    --bg-dark: rgb(18 28 50);
    --text-light: #FBFBFB;
    --accent-color: #0f62fe; /* blue */
    --card-bg: #1e1e1e;
    --border-default: #455676;  /* default subtle border color */
    --border-highlight: #455676; 
    --flair-bg: #263749; /* grey */
    --flair-active-bg: #7a9fe5; /* active tab blue background */
    --flair-hover-bg: #2f3439;
    --flair-text-color: #FBFBFB; /* flair text color */

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-light);
    line-height: 1.5;
}


body {
    background-color: var(--bg-dark);
    color: var(--text-light);
    line-height: 1.5;
}

.flair-nav {
    display: flex;
    justify-content: center; /* Center flair nav items */
    padding: 10px 0; /* Padding top and bottom */
    gap: 10px; /* Space between each flair tab */
    flex-wrap: wrap; /* Wrap flair tabs to new line on smaller screens */
}

.flair-nav .flair-tab {
    cursor: pointer;
    background-color: var(--flair-bg); /* Default grey background */
    color: var(--text-light); /* Text color */
    padding: 8px 16px; /* Padding inside tabs */
    margin: 0 5px; /* Space between tabs */
    border-radius: 20px; /* Rounded corners for oval shape */
    font-size: 1rem;
    border: none;
    transition: background-color 0.2s, color 0.2s;
}

/* Hover state */
.flair-nav .flair-tab:hover {
    background-color: var(--flair-hover-bg); 
    color: var(--text-light); 
}

/* Active state */
.flair-nav .flair-tab.active {
    background-color: var(--flair-active-bg); 
    color: var(--text-light); 
}


.description {
    font-size: 22px;
}

.header {
    text-align: center;
    padding-left: 2rem;
}

.header .description {
    margin-top: 0.5rem;
}

.posts-container {
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    padding-left: 5rem; 
    margin-top: 20px;
}


.card {
    background-color: var(--bg-dark);
    border: 1px solid var(--border-default);
    margin-bottom: 1rem;
    padding: 1rem;
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: border 0.3s ease;
    font-size: 17px;
}

.card:hover {
    border: 1px solid var(--border-highlight);
}

.card .comment-card {
    background-color: var(--bg-dark);
    border: 1px solid var(--border-default);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: border 0.3s ease;
}

.card:hover .comment-card {
    border: 1px solid var(--border-highlight);
}

.card .comment-card h3 {
    color: var(--text-light);
}

.card .post-date {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
}

.links {
    text-align: right;
    padding: 0 1rem;
    position: relative;
}


.links a {
    color: var(--text-light);
    text-decoration: none;
    border-bottom: 1px dashed transparent;
    transition: all 0.3s ease;
}

.links a:hover {
    border-bottom: 1px dashed var(--text-light);
}

.card-content {
    padding: 1rem;
}

.posts-container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 1rem; 
}


/* for larger screens */
@media (min-width: 768px) {
    html, body {
        padding-left: 90px;
        padding-right: 90px;
    }
}


/*for mobile devices */
@media (max-width: 600px) {
    html, body {
        padding-left: 20px;
        padding-right: 20px;
    }

    .flair-nav {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .flair-nav .flair-tab {
        flex: 1 1 auto;
        margin-bottom: 5px;
    }

    .card {
        padding: 0.5rem;
    }

    .card .post-date, .card .links {
        position: relative;
        top: auto;
        right: auto;
    }
}
